.about-text {
    padding: 0%;
    right: 0%;
    width: 80%;
    height: 99%;
    margin-top: 7%;
    overflow-y: scroll;
    text-align: right;
    z-index: 3;
    position: absolute;
    scrollbar-width: thin;
    scrollbar-color: rgba(21, 192, 149, 0.568) rgba(11, 204, 140, 0.151);
    padding-bottom: 0vh;
}
.about-text h1{
    color: rgb(233, 223, 223);
    display: block;
    font-weight: bold;
    font-size: calc(80% + 1.5vw);
    margin-bottom: 3vh;
    margin-right: 15%;
    
    
}
.about-text p {
    display: block;
    font-size: calc(50% + 2vh);
    position: relative;
    
}
.about-text-p1 {
    margin-top: 8%;
    margin-right: 14%;

}
.about-text-p2 {
    margin-top: 5%;
    margin-right: 14%;
    margin-bottom: 20vh;
}

.about-img {
    width: 50%;
    margin-left: 35%;
    height: auto;
    position: relative;
    margin-right: 0;
}
.about-img img {
    width: unset;
    height: unset;
    position:relative;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    filter: brightness(50%);
}

.about-img-m {
    width: 80%;
    margin-left: 0;
    height: auto;
    position: relative;
    margin-right: 0;
    
    
}
.about-img-m img {
    border-radius: 10px;
    filter: brightness(50%);
    width: unset;
    height: unset;
    position:relative;
    max-width: 100%;
    max-height: 100%;
}


/************** MOBILE VIEW *****************/
@media  (orientation: landscape) {
    .about-img-m {
        display: none;
    }
}


@media  (orientation: portrait), (max-width: 500px) {
    .about-text {
        width: 90%;
        margin-top: 15%;
    }
    .about-text h1 {
        margin-top: 0%;
        font-size: 35px;
        margin-right: 20%;
    }

    .about-text p {
        display: block;
        font-size: 20px;
        margin-right: 20%;
        line-height: 30px;
        
    }
    .about-text-p1 {
        margin-top: 10%;
        margin-right: 7%;
    
    }
    .about-text-p2 {
        margin-top: 5%;
        margin-right: 7%;
    }

    .about-img {
        display: none;
    }
}