.main-bg {
    
    margin-right: 0vh;
    object-fit: fill;
    
    
    position: relative;
    
    
   
    justify-content: right;
    
}

.text-flip{
    position: relative;;
    border:0px solid #ddd;
    height:52px;
    line-height:50px;
    font-size:32px;
    overflow:hidden;
    display:inline-block;
    padding-top: 2%;
  }
  .text-flip span{
    animation:animatetext 10s ease infinite;
    position:relative;
    color:#00aa80;
  }
  @keyframes animatetext{
    0%,100%{
      top:0;
    }
    20%{
      top:0px;
    }  
    25%{
      top:-50px;
    }
    45%{
      top:-50px;
    }
    50%{
      top:-100px;
    }
    70%{
      top:-100px;
    }
    75%{
      top:-150px;
    }
    95%{
      top:-150px;
    }
  }
  


.main-text {
    
    border-top: 1.5px dashed rgb(124, 124, 124);
    margin-top: -1.5vh;
    background: url("../images/nav01.jpg");
    overflow: hidden;
    overflow-y: scroll;
    
    width: 100%;

    height: 65vh;
    position: relative;
    box-shadow:inset 2px 6px 15px rgb(58, 57, 57);
    

}
.main-text button {
    border: 1px solid gray;
    

}
.main-text button:focus {
    outline: none;
}
.main-text1 {
    padding:3%;
    text-align: center;
}
.main-text1 h1{
    color: rgb(192, 191, 191);
    display: block;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10%;
    box-shadow: 6px 6px 8px rgba(55, 58, 57, 0.507);
    
    border-top-left-radius: 5px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
    background:url("../images/footer-bg04.jpg") ;
    
   

    
}
.main-text1 p {
    display: block;
    font-size: 22px;
    line-height: 180%;
    padding:5% 10%;
    
    
}
.main-text2 {
    
    text-align: right;
    
    background-color: #06c28a;
    
    
}
.main-text2 ul {
    margin-top: 8%;
    font-size: 12px;
    margin-left: 15vw;
    
}
.main-text2 ul li{
    margin-bottom: 15px;
}



.main-btn1 {
    color: #06c28a;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(221, 221, 221);
    box-shadow: 2px 2px 5px rgba(58, 55, 55, 0.507);
    font-weight: bold;
    
}

.main-btn2 {
    width: 100px;
    color: white;
    border-radius: 50px;
    background-color: #06c28a;
    box-shadow: 2px 2px 5px rgba(58, 55, 55, 0.507);
    font-weight: bold;
}

.main-text2 p {
    width: 45%;
    color: white;
    font-size: 22px;
    margin-left: 5vw;
    line-height: 150%;
}

.main-text3 {
    
    
    text-align: right;
    margin-top: -10vh;
    padding: 10% 1%;
    padding-bottom: 18vh;
   
    
}
.main-text3 ul {
    margin-top: 12vh;
    font-size: 12px;
    margin-left: 10vw;
    
}
.main-text3 ul li{
    margin-bottom: 15px;
}

.main-text3 p {
    width: 45%;
    margin-top: 8vh;
    font-size: 22px;
    margin-left: 10vw;
    line-height: 150%;
    
}
.main-text3 h1 {
    margin-left: 20%;
    color: transparent;
}


footer {
    background:url("../images/footer-bg04.jpg") ;
    
    text-align: center;
    height: 7.5%;
    width: 100%;
    position: fixed;
    bottom: 0;
    opacity: 1 !important;
    border-top-right-radius: 50px ;
    border-top-left-radius: 50px ;
    z-index: 70;
    line-height: 20px;
    
  
}

footer p {
    display: block;
    font-size: 9px;
    margin-left: -10%;
    color: #06c28a;
    
    
    
}
footer button {
    background: transparent;
    border: none;
    margin-right: 5vw;
    margin-top: 8px;
    
    
}

footer button:focus {
    outline: none;
}

.footer-btn1 a{
    color: #1877f2;
    margin-left: 22vw;
    font-size: 20px;
}
.footer-btn2 a{
    color:  #ea4335;
    font-size: 20px;
}
.footer-btn3 a{
    color:#06c28a;
    font-size: 20px;
    font-weight: lighter;
}

 /*****vertical dots*******/
 .vertical-dots
 {
     right:2vw;
     list-style: none;
     display: block;
     position: absolute;
     top: 40vh;
     margin-top: -10px;
     text-align: right;
     transition: ease 0.2s all;
 }
 .vertical-dots li
 {
     position: relative;
     width: 20px;
     height: 20px;
     cursor: pointer;
     margin-bottom: 40%;
     
 }
 .vertical-dots li button
 {
     font-size: 0;
     line-height: 0;
     display: block;
     width: 20px;
     height: 20px;
     padding: 5px;
     cursor: pointer;
     color: transparent;
     border: 0;
     outline: none;
     background: transparent;
     
 }
 .vertical-dots li button:hover,
 .vertical-dots li button:focus
 {
     outline: none;
     
 }
 .vertical-dots li button:hover:before,
 .vertical-dots li button:focus:before
 {
     opacity: 1;
     
 }
 .vertical-dots li button:before
 {
     font-family: 'slick';
     font-size: 12px;
     line-height: 18px;
     
 
     position: absolute;
     top: 0;
     left: 0;
 
     width: 20px;
     height: 20px;
 
     content: '•';
     text-align: center;
 
     opacity: .25;
     color: black;
 
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
 .vertical-dots li.slick-active button:before
 {
     opacity: .75;
     color: black;
     border: 2px dotted black ;
     border-radius: 50px;
     
     
 }
 




/************** MOBILE VIEW *****************/
@media (orientation: landscape) {
    footer {
        display:none
    }
    .main-text {
        display: none;
    }
}

@media  (orientation: portrait), (max-width: 500px) {

   

    .vertical-dots {
        top: 13vh;

    }
    .vertical-dots li {
        margin-bottom: 0%;
    }
    
  
   
 

    .vertical-dots li button:before {
        font-size: 9px;
        line-height: 13px;
    }

    .vertical-dots li.slick-active button:before {
        border: none;
    }

    .vertical-dots li button:before {
        width: 15px;
        height: 15px;
    }

 


}